/* CSS Document - Fabricio Oliveira */

:root{

    --main: #F5F5F5;
    --main-color: #000000;

    --sidebar: #FFFFFF;
    --sidebar-color: #000000;

    --content-info: linear-gradient(to left bottom, #203e74, #2f3c73, #3b3a72, #453870, #4e366d);
    --content-info-color: #FFFFFF;

}