/* CSS Document - Fabricio Oliveira */

:root{

    --main:  linear-gradient(to left bottom, #203e74, #2f3c73, #3b3a72, #453870, #4e366d);
    --main-color: white;

    --sidebar: transparent;
    --sidebar-color: white;

    --content-info: transparent;
    --content-info-color: #FFFFFF;

}