/* Fabricio Oliveira */

/* content */
#content{
    width: 100%;
    background: var(--content);
    position: relative;
    z-index: 6;
}

/* content card */
#content .card{
    background: var(--content-card);
    border-radius: 2px;
    padding: 20px;
}

/* content card-img */
#content .card .card-img{
    width: 80px;
    margin: 20px 0px 20px 15px;
    padding: 0px 0px;
}

/* content card-title */
#content .card .card-title{
    color: var(--card-title);
    font-size: 20px;
    font-weight: 800;
}

/* cotnent card-text */
#content .card .card-text{
    color: var(--card-title);
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 30px;
}

/* content-title */
.content-title{
    font-size: 28px;
    font-weight: 800;
    color: var(--card-title);
}

/* content-subtitle */
.content-subtitle{
    font-size: 20px;
    font-weight: 400;
    color: var(--card-title);
    word-spacing: 5px;
    line-height: 30px;
}

/* content-text */
.content-text{
    font-size: 14px;
    font-weight: 300;
    color: var(--card-title);
    word-spacing: 2px;
    line-height: 30px;
    letter-spacing: 2px;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

/* content-btn */
.content-btn{
    color: var(--card-title);
    border: 2px solid var(--card-subtitle);
    border-radius: 100px;
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    transition: background 0.5s, border 0.5s;
}

/* content-btn - hover */
.content-btn:hover{
    background: var(--content-card);
    color: var(--card-title);
    border: 2px solid var(--content-card);
}