/* Fabricio Oliveira */

/* header */
#header{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "header-left header-right";
    grid-template-columns: 1fr 1.2fr;
    background: var(--header);
}

/* header-left */
.header-left{
    grid-area: header-left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}

/* header-right */
.header-right{
    grid-area: header-right;
    background-image: url(../images/wallpapers/pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* header-hellow */
.header-hellow{
    font-size: 30px;
    font-weight: 500;
    color: var(--header-hellow);
}

/* header-name */
.header-name{
    font-size: 90px;
    font-weight: 800;
    color: var(--header-name);
    line-height: 90px;
    margin: 0px 0px;
    padding: 50px 0px;
}

/* header-text */
.header-text{
    font-size: 15px;
    font-weight: 400;
    color: var(--header-text);
    word-spacing: 4px;
    line-height: 25px;
}

/* header-nav */
.header-nav{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

/* header-link */
.header-nav .nav-link{
    padding: 0px 0px;
    margin: 0px 0px;
    display: block;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    color: var(--header-link);
    transition: 0.5s;
}

/* header-link - hover */
.header-nav .nav-link:hover{
    opacity: 0.5;
    color: var(--content-card-title);
}


@media only screen and (max-width: 1100px){

    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--color-03);
    }

    /* header-left */
    .header-left{
        width: 500px;
        margin: 0 auto;
        position: relative;
    }

    /* header-right */
    .header-right{
        display: none;
    }

    /* header-hellow */
    .header-hellow{
        color: var(--color-07);
    }

    /* header-name */
    .header-name{
        color: var(--color-02);
    }

    /* header-text */
    .header-text{
        color: var(--color-07);
    }


    /* header-link */
    .header-nav .nav-link{
        color: var(--color-07);
        text-align: center;
    }

}


@media only screen and (max-width: 499px){

    /* header-left */
    .header-left{
        width: 400px;
        padding: 0px 0px;
        margin: 0 auto;
    }

    /* header-right */
    .header-right{
        display: none;
    }

    /* header-hellow */
    .header-hellow{
        font-size: 30px;
    }

    /* header-name */
    .header-name{
        font-size: 80px;
        padding: 20px 0px;
    }

    /* header-text */
    .header-text{
        font-size: 14px;
    }

    /* header-link */
    .header-nav .nav-link{
        font-size: 14px;
    }

}


@media only screen and (max-width: 400px){

    /* header-left */
    .header-left{
        width: 300px;
        padding: 0px 0px;
        margin: 0 auto;
    }

    /* header-right */
    .header-right{
        display: none;
    }

    /* header-hellow */
    .header-hellow{
        font-size: 30px;
    }

    /* header-name */
    .header-name{
        font-size: 60px;
        line-height: 60px;
    }

    /* header-text */
    .header-text{
        font-size: 14px;
    }

    /* header-link */
    .header-nav .nav-link{
        font-size: 14px;
    }

}