/* Fabricio Oliveira */

#portfolio{
    background: #090a20;
}

#portfolio .card{
    margin: 10px;
    background: transparent;
    border: none;
    border-radius: 0px;
    overflow: hidden;
}

#portfolio .card .card-img{
    border: none;
    border-radius: 0px;
    opacity: 0.9;
}

#portfolio .card .card-body{
    width: 100%;
    height: 100%;
    background: var(--content-card);
    position: absolute;
    top: 0;
    left: -800px;
    overflow: hidden;
    margin: 0px 0px;
    padding: 0px 0px;
    transition: left 0.5s, opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--card-title);
    opacity: 0;
}


#portfolio .card:hover .card-body{
    left: 0px;
    opacity: 1;
}

#portfolio .card .card-title{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

#portfolio .card .card-subtitle{
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px 20px 20px;
}

