<head>

    <!-- charset utf-8 -->
    <meta charset="UTF-8">

    <!-- viewport scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- compatible ie -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" sizes="any" href="dist/images/logos/logo-dark-and-white.png">

    <!-- jquery -->
    <script type="text/javascript" src="dist/frameworks/jquery/jquery-3.4.1.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="dist/frameworks/bootstrap/bootstrap-4.3.1.css">
    <script type="text/x-javascript" src="dist/frameworks/bootstrap/bootstrap-4.3.1.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="dist/frameworks/fontawesome/css/all.css">
    <script type="text/x-javascript" src="dist/frameworks/fontawesome/js/all.js"></script>

    <!-- quicksearch -->
    <script src="dist/frameworks/quicksearch/jquery.quicksearch.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="dist/custom/style.css">
    <script src="dist/custom/script.js"></script>


    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>

    <!-- title -->
    <title> Fabricio Oliveira </title>

</head>