   
   <!-- header -->
    <header id="header">

        <!-- header-wallpaper - parallax -->
        <div class="header-wallpaper parallax-window" data-parallax="scroll"
            data-image-src="sources/images/wallpapers/header-4.jpg"></div>

        <!-- header-box -->
        <div class="header-box">

            <!-- container -->
            <div class="container">

                <!-- row -->
                <div class="row justify-content-center text-center">

                    <!-- column -->
                    <div class="col-md-8">

                        <!-- header-title -->
                        <h5 class="header-title">
                            Olá, eu me chamo
                        </h5>

                        <!-- header-title -->
                        <h5 class="header-name">
                            Fabricio Oliveira.
                        </h5>

                        <!-- header-text -->
                        <p class="header-text mt-4">
                            Sou desenvolvedor front-end. Realizo as
                            interfaces de projetos web, deixando que
                            proporcionem um visual agradável e organizado
                            para os usuários.
                        </p>

                        <a href="#section-intro" class="header-btn btn btn-primary mt-4">
                            Saiba Mais sobre Mim
                        </a>

                    </div>
                    <!-- /column -->

                </div>
                <!-- /row -->

            </div>
            <!-- /container -->


        </div>
        <!-- /header-box -->

    </header>
    <!-- /header -->