
    <!-- navbar -->
    <nav id="navbar" class="navbar-default">

        <!-- container -->
        <div class="container">

            <!-- nav-box -->
            <div class="nav-box">

                <!-- nav-brand -->
                <a href="#" class="nav-brand">
                    <img src="sources/images/logos/transparent.png" alt="" class="nav-logo">
                </a>

                <!-- nav-toggle -->
                <label for="nav-check" class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </label>

                <!-- nav-check -->
                <input type="checkbox" name="nav-check" id="nav-check">

                <!-- nav-menu -->
                <div class="nav-menu">

                    <!-- nav-list -->
                    <ul class="nav-list">

                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="index" class="nav-link">Home</a>
                        </li>

                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="portfolio" class="nav-link">Portfólio</a>
                        </li>

                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contato</a>
                        </li>

                        <!-- nav-item -->
                        <li class="nav-item">
                            <a href="about" class="nav-link">Sobre</a>
                        </li>

                    </ul>
                    <!-- /nav-list -->

                </div>
                <!-- /nav-menu -->

            </div>
            <!-- /nav-box -->

        </div>
        <!-- /container -->

    </nav>
    <!-- /navbar -->