   
    <!-- section -->
    <section id="section">

        <!-- section-box -->
        <div class="section-box section-introduction">

            <!-- container -->
            <div class="container">

                <!-- section-texts -->
                <div class="section-texts py-5">

                    <!-- section-title -->
                    <h5 class="section-title">
                        O que eu faço ?
                    </h5>

                    <!-- section-text -->
                    <p class="section-text">
                        Front End, Protótipos, Design...
                    </p>

                </div>
                <!-- /section-texts -->

                <!-- row -->
                <div class="row">



                    <!-- column -->
                    <div class="col-md-4">

                        <!-- card -->
                        <div class="card widget">

                            <!-- card-body -->
                            <div class="card-body">

                                <h5 class="card-title">
                                    Web Design
                                </h5>

                                <p class="card-text">
                                    Interfaces de usuário utilizando
                                    ferramentas de UI, para realização
                                    dos projetos.
                                </p>

                            </div>
                            <!-- /card-body -->

                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /column -->

                    <!-- column -->
                    <div class="col-md-4">

                        <!-- card -->
                        <div class="card widget">

                            <!-- card-body -->
                            <div class="card-body">

                                <h5 class="card-title">
                                    Front End
                                </h5>

                                <p class="card-text">
                                    Criação de WebSite estático apartir de um
                                    projeto utilizando códigos de marcação.
                                </p>

                            </div>
                            <!-- /card-body -->

                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /column -->

                    <!-- column -->
                    <div class="col-md-4">

                        <!-- card -->
                        <div class="card widget">

                            <!-- card-body -->
                            <div class="card-body">

                                <h5 class="card-title">
                                    Design Gráfico
                                </h5>

                                <p class="card-text">
                                    Manipulação de imagens, rascunhos de wireframes, para websites.
                                </p>

                            </div>
                            <!-- /card-body -->

                        </div>
                        <!-- /card -->

                    </div>
                    <!-- /column -->



                </div>
                <!-- /row -->


            </div>
            <!-- /container -->

        </div>
        <!-- /section-box -->

        <!-- section-box -->
        <div class="section-box section-creative">

            <!-- header-wallpaper - parallax -->
            <div class="section-wallpaper parallax-window" data-parallax="scroll"
                data-image-src="sources/images/wallpapers/header.jpg"></div>

            <!-- container -->
            <div class="container">



                <!-- row -->
                <div class="row">

                    <!-- column -->
                    <div class="col-lg-6 col-md-7 justify-content-center offset-md-6">

                        <!-- section-texts -->
                        <div class="section-texts py-5">

                            <!-- section-title -->
                            <h5 class="section-title">
                                Processo Criativo
                            </h5>

                            <!-- section-text -->
                            <p class="section-text">
                                A parte de desenvolvimento de todo projeto...
                            </p>

                        </div>

                        <!-- text -->
                        <p class="text">
                            Toda ideia, marca ou projeto criado passa por
                            um processo criativo e é com ele que desenvolvo
                            todas as etapas necessárias para criar uma identidade visual.
                        </p>
                        <!-- text -->

                    </div>
                    <!-- /column -->

                </div>
                <!-- row -->

            </div>
            <!-- /section-box -->

        </div>
        <!-- section-box -->

    </section>
    <!-- /section -->