<!-- section -->
<section id="section">

    <!-- section-box -->
    <div class="section-box section-work">

        <!-- container -->
        <div class="container section-work-content bg-white">


            <!-- row -->
            <div class="row mt-3">

                <!-- column -->
                <div class="col-md-3">

                    <div class="card mb-3 widget">

                        <a href="#" class="card-link">

                            <img src="../sources/images/works/clickdroid-image.png" alt="Works | Trabalhos | Portfolio"
                                class="card-img">

                            <div class="card-body">

                                <h5 class="card-title">
                                    ClickDroid
                                </h5>

                                <p class="card-text">
                                    WebSite / Downloads
                                </p>

                            </div>

                        </a>

                    </div>

                </div>
                <!-- /column -->


                <!-- column -->
                <div class="col-md-3">

                    <div class="card mb-3 widget">

                        <a href="#" class="card-link">

                            <img src="../sources/images/works/spotify-clone-image.png"
                                alt="Works | Trabalhos | Portfolio" class="card-img">

                            <div class="card-body">

                                <h5 class="card-title">
                                    Spotify-Clone
                                </h5>

                                <p class="card-text">
                                    WebSite / Música para todos
                                </p>

                            </div>

                        </a>

                    </div>

                </div>
                <!-- /column -->

                <!-- column -->
                <div class="col-md-3">

                    <div class="card mb-3 widget">

                        <a href="#" class="card-link">

                            <img src="../sources/images/works/fashionstore-image.png"
                                alt="Works | Trabalhos | Portfolio" class="card-img">

                            <div class="card-body">

                                <h5 class="card-title">
                                    FashionStore&copy;
                                </h5>

                                <p class="card-text">
                                    WebSite / Loja Virtual
                                </p>

                            </div>

                        </a>

                    </div>

                </div>
                <!-- /column -->

                <!-- column -->
                <div class="col-md-3">

                    <div class="card mb-3 widget">

                        <a href="#" class="card-link">

                            <img src="../sources/images/works/smartshop-image.png" alt="Works | Trabalhos | Portfolio"
                                class="card-img">

                            <div class="card-body">

                                <h5 class="card-title">
                                    SmartShop
                                </h5>

                                <p class="card-text">
                                    WebSite / Loja Virtual
                                </p>

                            </div>

                        </a>

                    </div>

                </div>
                <!-- /column -->

                <!-- column -->
                <div class="col-md-3">

                    <div class="card mb-3 widget">

                        <a href="#" class="card-link">

                            <img src="../sources/images/works/beleza-natural.png" alt="Works | Trabalhos | Portfolio"
                                class="card-img">

                            <div class="card-body">

                                <h5 class="card-title">
                                    Beleza Natural
                                </h5>

                                <p class="card-text">
                                    Prototipo App / E-commerce
                                </p>

                            </div>

                        </a>

                    </div>

                </div>
                <!-- /column -->

            </div>
            <!-- /row -->


        </div>
        <!-- /container -->

    </div>
    <!-- /section-box -->

</section>
<!-- section -->