        <section id="sidebar" class="sticky-top">

            <div class="bg-side"></div>

            <div class="sidebar-content">

                <div class="perfil">

                    <img class="image" src="dist/images/perfil/perfil.jpg" alt="web developer front end fabricio oliveira" />

                    <div class="perfil-body">

                        <h5 class="title">Fabricio Oliveira</h5>
                        <p class="subtitle">Web Developer Front End</p>

                    </div>

                </div>

                
                <ul class="nav flex-column">
                    
                    <li class="nav-item">
                        <a href="../" class="btn-home nav-link">
                            <i class="fas fa-home ml-2 mr-2"></i>
                            Home
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="works" class="btn-home nav-link">
                            <i class="fas fa-file-code ml-2 mr-2"></i>
                            Works
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="contact" class="btn-home nav-link">
                            <i class="fas fa-mobile ml-2 mr-2"></i>
                            Contact
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="about" class="btn-about nav-link">
                            <i class="fas fa-user-alt ml-2 mr-2"></i>
                            About
                        </a>
                    </li>
            
                </ul>
            

            </div>

        </section>