/* Fabricio Oliveira */

/* template */
*{
    scroll-behavior: smooth;
}


/* body */
body{
    background: var(--body);
    color: var(--body-color);
}


.btn{
    border-radius: 100px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}

@media only screen and (max-width: 900px){

    .btn{
        border-radius: 100px;
        padding: 8px 20px;
        font-size: 12px;
        font-weight: 100;
        text-transform: uppercase;
    }

}


@media only screen and (max-width: 500px){

    .btn{
        font-size: 11px;
    }

}