/* FABRICIO OLIVEIRA */

/* sidebar */
#main-sidebar{
    width: 250px;
    height: 100vh;
    position: relative;
    background-color: var(--sidebar);
    color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.8s;
}

/* side-menu */
.side-menu{
    width: 250px;
    height: 100vh;
    position: relative;
    transition: opacity 0.5s;
}

/* side-brand */
.side-brand{
    padding: 50px 0px;
}

/* side-logo */
.side-logo{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

/* side-list */
.side-list{
    padding: 0px 0px;
    margin: 20px 0px 0px 0px;
    margin-bottom: auto;
}

/* side-item */
.side-item{
    list-style: none;
}

/* side-link */
.side-link{
    width: auto;
    padding: 15px 40px;
    display: block;
    color: inherit;
    opacity: 0.5;
    transition: background-color 0.5s, padding 0.5s, opacity 0.5s;
}

/* side-link */
.side-link:hover{
    padding: 15px 60px;
    background-color: #ffffff10;
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

/* side-content */
.side-contact{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 100px;
    border: 1px solid #1c1c1c;
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 10px;
    position: absolute;
    bottom: 30px;
    right: 0px;
    left: 0px;
    transition: background 0.5s, color 0.5s, border-radius 0.8s;
}

/* side-content effect hover */
.side-contact:hover{
    background-color: rgb(47, 75, 158);
    text-decoration: none;
    color: white;
    border: 1px solid rgb(47, 75, 158);
    border-radius: 100px;
}

/* side-toggle */
.side-toggle{
    padding: 0px 0px;
    margin: 0px 0px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
}

/* side-toggle effect hover */
.side-toggle:hover{
    opacity: 1;
}

/* side-toggle-in */
.side-toggle-in{
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0px;
    display: none;
}

/* side-toggle-btn */
.side-toggle-btn{
    width: auto;
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 25px;
    font-weight: 100;
}

/* side checkbox */
#side-check{
    display: none;
}

/* side checkbox effect sidebar */
#side-check:checked ~ #main-sidebar{
    width: 0px;
}

/* side checkbox effect sidebar menu */
#side-check:checked ~ #main-sidebar .side-menu{
    opacity: 0;
}


@media only screen and (max-width: 900px){

    .side-toggle-in{
        display: block;
    }

    #side-check:checked ~ #main-sidebar{
        width: 250px;
    }
    
    #side-check:checked ~ #main-sidebar .side-menu{
        opacity: 1;
    }
    

    #main-sidebar{
        width: 0px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 4;
        border-right: 1px solid #1c1c1c;
    }

}