/* FABRICIO OLIVEIRA */

/* navbar */
.navbar{
    width: 100%;
    background-color: var(--navbar);
    padding: 15px 0px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #1c1c1c;
    z-index: 3;
}
