/* Fabricio Oliveira */

#footer{
    width: 100%;
    background-color: var(--footer);
    color: var(--footer-color);
    padding: 50px 0px;
    position: sticky;
    bottom: 0;
    z-index: -1;
}

.footer-text{
    padding: 0px 0px;
    margin: 0px 0px;
    text-align: center;
}